
#lauchpad_headline {
	border-left: solid black;
    padding-left: 1%;
    padding-bottom: 1%;
    font-family: sans-serif;
}

#headline_logout{
	display: inline-block;
}

.lauchpad_button {
	background-color: white;
    border: solid black;
}

.lauchpad_button:hover {
	background-color: lightgrey;
}

#headline_msg {
	padding-top: 1%;
	display: inline-block;
}

#lauchpad_body {
	margin-top: 5%;
	font-family: sans-serif;
	border-left: solid black;
    padding-left: 1%;
}

#app_entry {
	width: 15vw;
    height: 15vw;
    border: solid black;
    position:relative;
    margin: 1%;
    display: inline-flex;
}

#app_entry:hover {
	background-color: lightgrey;
}

#app_name {
	font-size: larger;
    padding: 5%;
}

#app_description {
	font-size: medium;
    font-style: italic;
    position: absolute;
    bottom: 0;
    padding: 2%;
}

#bottom_line{
	border-left: solid black;
    padding-left: 1%;
    margin-top: 5%;
    font-family: sans-serif;
}
