<link rel="stylesheet" href="/css/manager.css" />
<div id="div_manager_headline">
	<form action="/#!/lauchpad" id="form_manager_back">
		<input type="submit" value="Back" class="manager_button"/>
	</form>
</div>
<div id="div_manager_users">
	<div>
		<div id="users_headline">Users</div>
		<div class="manager_button" ng-click="openCreateUser()"> + </div>
	</div>
	<div ng-repeat="user in $ctrl.users" id="users_entry">
		<div id="user_name">{{user.name}}</div>
		<div class="manager_button" ng-click="openUpdateUser(user.id)"> ✎ </div>
		<div class="manager_button" ng-click="deleteUser(user.id)"> ✖ </div>
	</div>
</div>
<br>
<div id="div_manager_templates">
	<div>
		<div id="templates_headline">Templates and apps</div>
		<div class="manager_button" ng-click="openCreateTemplate()"> + </div>
	</div>
	<div ng-repeat="template in $ctrl.templates" id="div_template_entry">
		<div id="template_entry" >
			<div id="template_name">{{template.name}}</div>
			<div class="manager_button" ng-click="openUpdateTemplate(template.id)"> ✎ </div>
			<div class="manager_button" ng-click="deleteTemplate(template.id)"> ✖ </div>
		</div>
	    <br>
		<div ng-repeat="app in template.apps" id="app_entry">
			<div id="app_name">{{app.name}}</div>
			<div class="manager_button" ng-click="openUpdateApp(app.id)"> ✎ </div>
			<div class="manager_button" ng-click="deleteApp(app.id)"> ✖ </div>
		</div>
	</div>
</div>


<div id="id_modal_user_create" ng-style="modal_style_user_create" class="modal_wrapper">
	<div class="modal_content">
		<p>Create new user</p>
		<form>
			<label for="username">Username:</label>
			<input type="text" name="username" ng-model="createUserName" >
			<label for="password">Password:</label>
			<input type="password" name="password" ng-model="createUserPassword">
			<br>
			<input type="submit" value="Register" ng-click="createUser()" class="manager_button">
		</form>
	</div>
</div>

<div id="id_modal_user_update" ng-style="modal_style_user_update" class="modal_wrapper">
	<div class="modal_content">
		<p>Update user</p>
		<form>
			<label for="username">Username:</label>
			<input type="text" name="username" ng-model="updateUserVar.name" >
			<input type="submit" value="Update" ng-click="updateUser(updateUserVar.id)">
		</form>
	</div>
</div>

<div id="id_modal_template_create" ng-style="modal_style_template_create" class="modal_wrapper">
	<div class="modal_content">
		<p>Create template</p>
		<form>
			<label for="template_name">Templatename:</label>
			<input type="text" name="template_name" ng-model="createTemplateName" >
			<br>
			<input type="submit" value="Create" ng-click="createTemplate()" class="manager_button">
		</form>
	</div>
</div>

<div id="id_modal_template_update" ng-style="modal_style_template_update" class="modal_wrapper">
	<div class="modal_content">
		<p>Update template</p>
		<form>
			<label for="template_name">Templatename:</label>
			<input type="text" name="template_name" ng-model="updateTemplateVar.name" >
			<br>
			<input type="submit" value="Update" ng-click="updateTemplate(updateTemplateVar.id)" class="manager_button">
		</form>
	</div>
</div>

<div id="id_modal_app_update" ng-style="modal_style_app_update" class="modal_wrapper">
	<div class="modal_content">
		<p>UPDATE APP</p>
	</div>
</div>