<link rel="stylesheet" href="/css/lauchpad.css" />
<div id="lauchpad_div">
	<div id="lauchpad_headline">
		<form action="/logout" method="post" id="headline_logout">
			<input type="submit" value={{$ctrl.button_label}} class="lauchpad_button"/>
		</form>
		<div id="headline_msg">{{$ctrl.msg}}</div>
	</div>
	<div id="lauchpad_body">
		<div ng-repeat="app in $ctrl.response" id="app_entry" ng-click="openApp(app.id)">
			<div id="app_name">{{app.name}}</div>
			<div id="app_description">{{app.description}}</div>
	    </div>
	</div>
	<div id="bottom_line">Have a nice day. ♥</div>
</div>